extends layout

block content

  style.
  
    .bd-placeholder-img {
          font-size: 1.125rem;
          text-anchor: middle;
          -webkit-user-select: none;
          -moz-user-select: none;
          user-select: none;
        }
    .nounderline{
      text-decoration: none !important;
    }
        @media (min-width: 768px) {
          .bd-placeholder-img-lg {
            font-size: 3.5rem;
          }
        }
  
  header
  main
    
    button.btn.btn-primary(type="button", data-bs-toggle="modal", data-bs-target="#exampleModal").
      See description
  
    .modal.fade#exampleModal(tabindex="-1", aria-labelledby="exampleModalLabel", aria-hidden="true", data-bs-backdrop="static")
      .modal-dialog.modal-dialog-centered
        .modal-content
          .modal-header
            h3.modal-title#exampleModalLabel XSS Reflected
            //-button.btn-close(type="button", data-bs-dismiss="modal", aria-label="Close")
          .modal-body.fs-6.
            We have an XSS Reflected vulnerability, 
            try triggering an ALERT so you can prove that you can execute arbitrary javascript on this page.
          .modal-footer
            button.btn.btn-primary(type="button", data-bs-dismiss="modal") OK

    section.py-5.text-center.container
      .row.py-lg-5
        .col-lg-6.col-md-8.mx-auto
          h1.fw-light
            a.text-dark.nounderline(href="/level1Hard") Photo album
          p.lead.text-muted Take a look at the memories you created over the years.
          
            form.col-12.col-lg-auto.mb-3.mb-lg-0.me-lg-3(action="/level1Hard")
              input.form-control.form-control-dark(type="search", name="text", placeholder="Search through photos...", aria-label="Search")
              input.btn.btn-primary.my-2(type="submit", value="Search")
              
    p.text-center.px-4.lead!= message 
    .album.py-5.bg-light
      .container
        .row.row-cols-1.row-cols-sm-2.row-cols-md-3.g-3
          //-aici un for pt fiecare poza
          each photo in photos_list  
            .col
              .card.shadow-sm
                img.bd-placeholder-img.card-img-top(src=photo[0], focusable="false")
                .card-body
                  p.card-text #{photo[1]}
                  .d-flex.justify-content-between.align-items-center
                    .btn-group
                      button.btn.btn-sm.btn-outline-secondary(type="button") View
                      button.btn.btn-sm.btn-outline-secondary(type="button", data-bs-toggle="modal", data-bs-target="#staticBackdrop") Edit
                    small.text-muted #{photo[2]}
          
  footer.text-muted.py-5
    .container
      p.float-end.mb-1
        a(href="#") Back to top
      
     
  script(src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js", integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p", crossorigin="anonymous")
  script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js")
  script(src="/javascript/overrideAlertXSS.js")

  script.
    window.onload = function () {
    if (localStorage.getItem("hasCodeRunBefore") === null) {
        $('#exampleModal').modal('show');
        localStorage.setItem("hasCodeRunBefore", true);
      }
    }

  
  
  